<section class="movie-details">
  <div class="image">
    <%= image_tag(@movie.image_file_name) %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2><%= total_gross(@movie) %></h2>
    <h4><%= @movie.director %></h4>
    <h4><%= @movie.duration %></h4>
    <h3>Released on: <%= day_and_time(@movie) %></h3>
    <%= link_to "Write Review", new_movie_review_path(@movie), class: "review" %>
    <div class="reviews">
      <%= average_stars(@movie) %>
      <%= link_to pluralize(@movie.reviews.size, "review"), movie_reviews_path(@movie) %>
    </div>
    <p><%= @movie.description %>
  </div>
</section>

<section class="admin">
  <%= link_to "Edit Movie", edit_movie_path(@movie), class: "button" %>
  <%= link_to "Delete Movie", movie_path(@movie), class: "button", data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to delete this movie?"
   } %>
</section>