<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul>
  <% @reviews.each do |r| %>
    <li>
      <%= render "shared/stars", percent: r.stars_as_percent %>
      <p>
        <%= r.name %>
        <span class="date">
          <%= time_ago_in_words(r.created_at) %>
        </span>
      </p>
      <p>
        <%= r.comment %>
      </p>
    </li>
  <% end %>
</ul>