<h1>Reviews for <%= link_to @movie.title, @movie %></h1>

<ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= review.name %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
      <%= link_to "Edit review", edit_movie_review_path(@movie, review) %>
      <%= link_to "Delete review", movie_review_path(@movie, review), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
  <% end %>
<ul>